SetB/BMS.DAL/Connected Services/ServiceReference1/BusinessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BusinessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64041/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64041/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64041/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BMS.WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBusinessService_GenerateBusinessID_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateBusinessID" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_GenerateBusinessID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateBusinessIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddBusiness_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBusiness" />
  </wsdl:message>
  <wsdl:message name="IBusinessService_AddBusiness_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBusinessResponse" />
  </wsdl:message>
  <wsdl:portType name="IBusinessService">
    <wsdl:operation name="GenerateBusinessID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/GenerateBusinessID" message="tns:IBusinessService_GenerateBusinessID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/GenerateBusinessIDResponse" message="tns:IBusinessService_GenerateBusinessID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBusiness">
      <wsdl:input wsaw:Action="http://tempuri.org/IBusinessService/AddBusiness" message="tns:IBusinessService_AddBusiness_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBusinessService/AddBusinessResponse" message="tns:IBusinessService_AddBusiness_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBusinessService" type="tns:IBusinessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerateBusinessID">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/GenerateBusinessID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBusiness">
      <soap:operation soapAction="http://tempuri.org/IBusinessService/AddBusiness" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessService">
    <wsdl:port name="BasicHttpBinding_IBusinessService" binding="tns:BasicHttpBinding_IBusinessService">
      <soap:address location="http://localhost:64041/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>