SetB/BMS.DAL/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64041/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BMS.WcfService" />
  <xs:element name="GenerateBusinessID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateBusinessIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateBusinessIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BMS.WcfService" minOccurs="0" name="business" nillable="true" type="q1:Business" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBusinessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>