SetB/BMS.DAL/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BMS.WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BMS.WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Business">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityNature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessID" type="xs:int" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirmAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirmName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MobileNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Business" nillable="true" type="tns:Business" />
</xs:schema>