SetA_DonarApp/DMS.Entities/DMS.DALL/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63743/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DMS.WcfService" />
  <xs:element name="GenerateDonarID">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateDonarIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateDonarIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDonar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DMS.WcfService" minOccurs="0" name="donar" nillable="true" type="q1:Donar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDonarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDonarResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>